[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-secret-manager = "*"
boto3 = "*"
loguru = "*"
environs = "*"
certifi = "*"
requests = "*"
urllib3 = "*"
python-gitlab = "*"
pika = "*"
dynaconf = "*"
confluent_kafka = "*"
kubernetes = "*"
jsonschema = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"
isort = "*"
yapf = "*"
pylint = "*"
pylint-exit = "*"

[requires]
python_version = "3.10"
